.App {
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
  }
  
  .para{
    font-weight: bold;
  }
  
  .sidebar {
    background-color: #f2f2f2;
    padding: 20px;
    height: 100vh;
    position: sticky;
    top: 0;
    width: 350px;
  }
  
  .sidebar nav {
    display: flex;
    flex-direction: column;
  }
  
  .sidebar nav a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .sidebar nav a.active {
    background-color: #ddd;
  }
  
  .sidebar .new-report {
    background-color: #287c7c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .container {
    max-width: 800px;
    margin: 5px;
    padding: 10px;
    flex-grow: 1;
  }
  
  input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  button {
    background-color: #4d88bf;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }